
	<!-- <div id="splash-container" class="page-fill"> -->	 

	 <!-- waiting for db query  -->
	<div ng-show = "!insideRoom && waiting" class="center-align" style = "width : 50%; margin: auto; margin-top: 10%; ">
	 
   <div class = "statusMessage">
   {{waitingMessage}}
   </div>

   <br/>

    <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
        
	</div>

	<!-- game exists, prompt for name  -->

	 <div ng-show = "gameExists && !insideRoom && !waiting" style = "width: 50%; margin: 0 auto; margin-top: 10%"> 
        <div class = "statusMessage center-align">
          Welcome to game {{gameName}}! Please enter your name and password, if any.
        </div>

        
        <form ng-submit="joinExistingGame()" style="margin-top:30px;">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="playerName" maxlength="10"  style = "font-size: 30px" required></input>
            <input type="text" class="form-control" placeholder="Password (leave blank for no password)" maxlength="10" style = "font-size: 30px"  ng-model="gamePassword"></input>
          </div>
          <button type="submit" class="btn btn-primary">Join Game</button>
        </form>

        <h2> {{statusMessage}} </h2>

      </div>

      <!-- game doesn't exist, prompt to create  -->

     <div ng-show = "!gameExists && !insideRoom && !waiting" style = "width: 50%; margin: 0 auto; margin-top: 10%"> 

     <div class = "statusMessage center-align">
          Game  {{gameName}} is empty. Fill in a few things and get started!
      </div>

      <form ng-submit="createNewGame()" style="margin-top:30px;">
        <div class="form-group">
          <input type="text"  placeholder="Name" style = "font-size: 30px"  ng-model="playerName" maxlength="10" required></input>
          <input type="text"  style = "font-size: 30px"  placeholder="Password (leave blank for no password)" ng-model="gamePassword" maxlength="10" ></input>
          <input type="number"  style = "font-size: 30px"  placeholder="Max Players?"  ng-model="maxPlayers"></input>
          <input type="checkbox" class="form-control" ng-model="publicGame"></input>
        </div>
        <button type="submit" class="btn btn-primary">Create Game</button>
      </form>

      <h2> {{statusMessage}} </h2>

    </div>
 
    <!-- THE ROOM -->

    <div ng-show = "insideRoom">

    <div style = "height: 90vh; margin-top: 50px, margin-bottom: 50px">

          <div id = "roomHeader" class = "row" style="background-color:#3498db; height: 50px">

              <!-- stuff  -->
              <div class = "col m3" >
              </div>
              <!-- center -->
              <div class = "col m6" >
               <h2 class = "center-align" style = "font-size: 24px"> Game {{gameName}} </h2>
              </div>

              <!-- info  -->
              <div class = "col m3" >
                <div class = "right-align">
                  <div ng-show = "creator" > <b> Password: </b> {{gamePassword}} </div> 
                  There are <b> {{gameObject.num_players}} </b> players.
                </div>
              </div>
                   
          </div>

          <div class = "row">

          <div class = "col m9" >

            <div id = "wordPile" style="background-color: #27ae60; width: 100%; height: 200px" class = "row">
                WORDPILE IS HERE
                 <div ng-show = "creator"> The password to this game is {{gamePassword}} - bring your friends! </div>
            </div>

            <div id = "roomFooter" valign="bottom" class = "row" style="background-color:#e67e22; height: 150px;  width: 100%">

            <center>

              <form>
                <div class="input-field">
                  <input type="text" class="form-control" id="exampleInputName2" placeholder="Type steal here">
                </div>
                <button type="submit" class="btn">GET WORD!</button>
            </form>

            </center>

            </div>
          </div>

          <div class = "col m3" id = "chat" style = "height: 90vh;">

          <div class = "row" style = "background-color: #bdc3c7l; overflow: scroll; height: 100%;">
              <div id = "messages" ng-repeat = "m in messages">
                  <div ng-if = "m.type == 'message'">
                      <strong> {{m.name}} : </strong> {{m.text}}
                  </div>

                  <div ng-if = "m.type == 'info'">
                      <em> <b> {{m.text}} </b> </em>
                  </div>

              </div>
          </div>

          IN BETWEEN

            <div id = "chatFooter" class = "blue row" style="position: absolute; bottom: 0; height: 20px; clear:both; ">
              <form class="form-inline"ng-submit="sendMessage()">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model = "messageBody" placeholder="Jane Doe">
                </div>
                <button type="submit" hidden>Send</button>
            </form>
            </div>

          </div>

          </div>
           
          </div>

    </div>


 