

	 <!-- if game has an invalid name  -->

  <div ng-show = "gameInvalid"> 
    <div class = "row">
      <div class = "col m3 s1"> &nbsp; </div>
      
      <div class = "col m6 s10" style = "margin-top: 10%">
         <div class = "statusMessage center-align"> 
            <i class="material-icons" style = "font-size: 200px">error_outline</i> <br/>
            {{invalidMessage}} 
        </div>
      </div>

      <div class = "col m3 s1"> &nbsp; </div>
    </div>
  </div>






  <!-- while searching for game in database  -->

	<div ng-show = "!insideRoom && waiting && !gameInvalid" class="center-align" style = "margin: auto; margin-top: 10%; ">
	  <div class = "row">
        <div class = "col m3 s1">&nbsp;</div>

        <div class = "col m6 s10">
           <div class = "statusMessage">
             {{waitingMessage}}
             </div>

             <br/>

              <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
        </div>

        <div class = "col m3 s1">&nbsp;</div>
  
      </div> 
	</div>










	<!-- game exists, prompt for name  -->

	 <div ng-show = "gameExists && !insideRoom && !waiting && !gameInvalid" style = "margin: 0 auto; margin-top: 10%"> 

   <div class = "row">
        
        <div class = "col m3 s1">&nbsp;</div>

        <div class = "col m6 s10">


        <div class = "statusMessage center-align">
          Welcome to game {{gameName}}! Please enter your name 
                <div ng-show = "gameObject.password.length > 0"> and password</div>.
        </div>

        
        <form ng-submit="joinExistingGame()" style="margin-top:30px; width: 100%">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="playerName" maxlength="10"  style = "font-size: 30px" required></input>
            <div ng-show = "gameObject.password.length > 0">
              <input type="text" class="form-control" placeholder="Password (leave blank for no password)" maxlength="10" style = "font-size: 30px"  ng-model="gamePassword"></input>
            </div>
          </div>
          <center>
          <br/>
            <button type="submit" class="center-align waves-effect waves-light btn-large">Join Game</button>
          </center>
        </form>

        <div class = "statusMessage"> {{statusMessage}} </div>

        </div>

        <div class = "col m3 s1">&nbsp;</div>

        </div>

      </div> 

    <!-- game doesn't exist, prompt to create  -->

     <div ng-show = "!gameExists && !insideRoom && !waiting && !gameInvalid" style = "margin: 0 auto; margin-top: 10%"> 

     <div class = "row">
        
        <div class = "col m3 s1">&nbsp;</div>

        <div class = "col m6 s10">

     <div class = "statusMessage center-align">
          Game {{gameName}} is empty. Fill in a few things and get started!
      </div>

      <form ng-submit="createNewGame()" style="margin-top:30px;">
        <div class="form-group">
          <input type="text"  placeholder="Name" style = "font-size: 30px"  ng-model="playerName" maxlength="10" required></input>
          <input type="text"  style = "font-size: 30px"  placeholder="Password (leave blank for no password)" ng-model="gamePassword" maxlength="10" ></input>
          <input type="number" style = "font-size: 30px"  placeholder="Max Players?"  ng-model="maxPlayers" value="4" max = "6"></input>
          <input type="checkbox" class="form-control" ng-model="publicGame"></input>
        </div>
        <center>
          <br/>
            <button type="submit" class="center-align waves-effect waves-light btn-large">Create Game</button>
          </center>
      </form>

      <div class = "statusMessage"> {{statusMessage}} </div>

      </div>

      <div class = "col m3 s1">&nbsp;</div>

    </div>

    </div>








 
    <!-- THE ROOM -->

    <div ng-show = "insideRoom">

    <div style = "height: 90%;">

          <div id = "roomHeader" class = "row" style="background-color:#3498db; height: 50px">

              <!-- stuff  -->
              <div class = "col m3" > 
                &nbsp;
              </div>
              <!-- center -->
              <div class = "col m6 valign-wrapper" style = "height: 100%">
               <h2 class = "center-align valign" style = "font-size: 24px"> Game {{gameName}} </h2>
              </div>

              <!-- info  -->
              <div class = "col m3 valign-wrapper" style = "height: 100%" >
                <div class = "right-align valign">
                  <div ng-show = "creator" > <b> Password: </b> {{gamePassword}} </div> 
                  Players: <b> {{gameObject.num_players}}/{{gameObject.max_players}} </b> 
                </div>
              </div>      
          </div>

          <div class = "row">

          <div class = "col m9" >

          <div style = "height: 150px; overflow: scroll;" >

           <table style = "table-layout:fixed; width: 100%; height: 100%; overflow: scroll">
            <tr>
              <td ng-repeat = "(player, data) in gameObject.players" style = "overflow-y: scroll; border-right: solid 2px #f00; border-left: solid 2px #DDD;"> 
               <div class = "center-align" > {{player}} </div>  
               <div class = "center-align" > {{data.points}}  points </div>

                <div ng-repeat = "word in data['words']">
                    <a class = "wordlink" ng-click = "focusOnWord(word)"> {{word}} </button>
                </div>

                 <div ng-if "(!('words' in data)) || (data.words.length == 0)">
                    No words yet.
                </div>

              </td> 
            </tr>
            </table>

          </div>

          <button ng-click = "addLetter()" ng-show = "gameObject.started" lass="waves-effect waves-light btn-large"> Add Letter </button>

            <div id = "wordPile" style="background-color: #27ae60; width: 100%; height: 200px; overflow: scroll" class = "row">
            <table style = "table-layout:fixed; width: 100%" ng-show = "gameObject.started">

               <tr ng-repeat = "i in [0,1,2,3,4,5,6,7,8,9,10,11,12, 13, 14, 15, 16, 17, 18, 19]" style = "width: 35px"> 
                <td ng-repeat = "j in [0,1,2,3,4,5,6,7,8,9]" ng-if = "20*j + i <  activeLetters.length" style = "width: 35px">
                 <div class = "draggable wordtile valign-wrapper" > 
                      <div class = "valign center-align" style = "width: 100%"> 
                        {{activeLetters[20*j + i].$value}} 
                      </div>
                  </div>
                </td>
               
              </tr> 

              </table>

              <div style = "width: 100%; height: 100%" ng-show = "!gameObject.started && creator" class = "valign-wrapper">
                  <button class = "center-align valign waves-effect waves-light btn-large" ng-click = "startGame()"> Start Game </button>
              </div>

            </div>

            <div id = "roomFooter" valign="bottom" class = "row" style="background-color:#e67e22; height: 150px;  width: 100%; bottom: 0">

            <center>

              <form style = "width:50%; margin: auto;">
              <div ng-show = "stealFromPile"> 
                Attempting to make a word from the pile...
               </div>
               <div ng-hide = "stealFromPile"> 
                Attempting to steal the word <b> {{attemptToSteal}} </b> ...
               </div>
                <div class="input-field">
                  <input type="text" class="form-control" ng-model="stealWord" placeholder="Type steal here" required>
                </div>
            </form>

            <button type="submit"  ng-click = "attemptSteal()" class="waves-effect waves-light btn-large">GET WORD!</button> 
            <button ng-click="stealFromPile = true;" class="waves-effect waves-light btn-large">Steal from pile.</button>
            <div class = "statusMessage"> {{stealStatusMessage}} </div>

            </center>

            </div>
          </div>

          <div class = "col m3  blue-grey lighten-4" id = "chat" style = "height: 90vh;">

          <div class = "row" style = "background-color: #bdc3c7l; overflow-y: scroll; height: 100%;" class = "wordwrap" scroll-glue>
              <div id = "messages" ng-repeat = "m in messages">
                  <div ng-if = "m.type == 'message'">
                      <strong> {{m.name}}: </strong> {{m.text}}
                  </div>

                  <div ng-if = "m.type == 'info'">
                      <em> {{m.text}} </em>
                  </div>

              </div>
          </div>

          IN BETWEEN

            <div id = "chatFooter" class = "row" style="position: absolute; bottom: 0; height: 20px; clear:both;">
              <form ng-submit="sendMessage()" style = "width: 100%">
                <div class="input-field">
                  <input type="text" class="form-control" ng-model = "messageBody" placeholder="Enter to send">
                </div>
                <button type="submit" hidden>Send</button>
            </form>
            </div>

          </div>

          </div>
           
          </div>

          <script>
           $(document).ready(function() {
                  window.onbeforeunload = function (event) {
                    var message = 'Sure you want to leave? You will lose all your game data.';
                    if (typeof event == 'undefined') {
                      event = window.event;
                    }
                    if (event) {
                       event.returnValue = message;
                    }
                    return message;
                  }


              interact('.draggable')
                .draggable({
                  // enable inertial throwing
                  inertia: true,
                  // keep the element within the area of it's parent
                  restrict: {
                    restriction: "#wordPile",
                    endOnly: true,
                    elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
                  },

                  // call this function on every dragmove event
                  onmove: dragMoveListener,
                  // call this function on every dragend event
                });

                function dragMoveListener (event) {
                  var target = event.target,
                      // keep the dragged position in the data-x/data-y attributes
                      x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
                      y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

                  // translate the element
                  target.style.webkitTransform =
                  target.style.transform =
                    'translate(' + x + 'px, ' + y + 'px)';

                  // update the posiion attributes
                  target.setAttribute('data-x', x);
                  target.setAttribute('data-y', y);
                }


                }
              );
          </script>

    </div>


 