

  <div class="row">


  <div class = "col m3 s1">.
   </div>

  <div class = "col m6 s10">

  <h1 id = "gameTitle" class = "center-align blue-text text-darken-1" style = "font-size: 15vw; font-weight: 300" data-fittext>
    lexicon
  </h1>

    <center>

   <form ng-submit="joinRoom()">
      <div class="input-field" >
        <input type="text" placeholder="wooo" style = "font-size: 40px;" ng-model="roomName"></input>
      </div>
      <br>
      <button class = "btn btn-primary btn-block btn-large" type="submit">Visit This Room</button>
      <h3 data-ng-animate="'fade'"> {{errorMessage}}  </h3>
    </form>

  </center>

  </div>

  <div class = "col m3 s1"></div>

  </div>




 