<html>
  <head>
    <title>My Angular App!</title>
     <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularapp.js"></script>
  </head>

  Welcome to Lexicon

  <body ng-app="flapperNews">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
      

    <script type="text/ng-template" id="/home.html">
      <div ng-repeat="game in games">
      {{game.name}} - {{game.players}}/{{game.total}}
      </div>

      <form ng-submit="joinRoom()">
        <input type="text" placeholder="Join this room..." ng-model="roomName"></input>
        <br>
        <button class = "btn btn-primary" type="submit">Join!</button>
      </form>

  </script>

  <script type="text/ng-template" id="/game.html">

     <div ng-show = "gameExists"> 
        Welcome to game {{gameName}}! Please enter your name.
        
        <form ng-submit="joinExistingGame()" style="margin-top:30px;">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name?" ng-model="personName"></input>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>

     <div ng-hide = "gameExists"> 
      Game  {{gameName}} is empty. Would you like to start a game?

      <form ng-submit="createNewGame()" style="margin-top:30px;">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name?" ng-model="personName"></input>
          <input type="text" class="form-control" placeholder="Password?" ng-model="gamePassword"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>

    </div>

  </script>

  </body>
</html>