/*body {
	font-family: 'Open Sans', sans-serif;
 }*/

 #gameTitle {
   	 font-family: 'Poiret One', cursive;
 }

 .statusMessage {
    font-size: 28px;
 }

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; 
}

@media only screen and (min-width : 601px) {
  .container {
    width: 90%; } 
  }

@media only screen and (min-width : 993px) {
  .container {
    width: 90%; } 
  }

body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto !important;
}

.wordtile {
  width: 35px;
  height: 35px;
  background-color: #29e;
  color: white;
  font-size: 18px;
}

.fade {
    position: absolute;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.wordlink::hover {
  color: yellow;
}